hr{
    margin: 0px;
}

.rodape{
    background-color: var(--branco);
    padding: 1em;
    font-size: 16px;
    color: var(--azul);
}

.rodape__lista{
    display: none;
}


@media screen and (min-width:1024px){

    .rodape__lista{
        display: block;
    }
    
    .rodape{
        display: flex;
        justify-content: space-around;
    }

    .rodape__lista_item{
        display: flex;
        align-items: center;
        margin: 0.6em 0;
    }

    .rodape__lista_link{
        color: var(--cinza);
        text-decoration: none;
        margin-left: 0.6em;
    }

    .rodape__lista_titulo{
        color: var(--cinza-claro);
        font-size: 14px;
    }

    .rodape__titulo{
        font-size: 24px;
    }
}

@media screen and (min-width:1024px){
    .rodape__lista{
        border-left: 1px solid var(--cinza-claro);
        padding-left: 1em;
    }

    .rodape{
        padding: 3em 0 ;
    }
}